<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example: {{.Name}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <script>
      onkeydown = (e) => {
          {{if .PrevExample}}
          if (e.key == "ArrowLeft") {
              window.location.href = '{{.PrevExample.ID}}.html';
          }
          {{end}}
          {{if .NextExample}}
          if (e.key == "ArrowRight") {
              window.location.href = '{{.NextExample.ID}}.html';
          }
          {{end}}
      }
  </script>
  <body>
    <div class="example" id="{{.ID}}">
      <nav><a href="./">Go by Example</a></nav>

      <table>
        <tr>
          <td class="docs">
            {{.Html}}
          </td>
        </tr>
      </table>


      {{if .PrevExample}}
            <p class="prev">
              Prev: <a href="{{.PrevExample.ID}}.html">{{.PrevExample.RealName}}</a>.
            </p>
      {{end}}

      {{if .NextExample}}
      <p class="next">
        Next: <a href="{{.NextExample.ID}}.html">{{.NextExample.RealName}}</a>.
      </p>
      {{end}}

      {{ template "footer" }}

    </div>
    <script>
      var codeLines = [];
      {{range .Segs}}{{range .}}codeLines.push('{{js .CodeForJs}}');{{end}}{{end}}
    </script>
    <script src="site.js" async></script>
  </body>
</html>
