{{define "footer"}}
    <p class="footer">
      本站基于 <a href="https://github.com/mmcgrana/gobyexample">mmcgrana/gobyexample</a> 构建，感谢原作者 <a href="https://markmcgranaghan.com">Mark McGranaghan</a> 和 <a href="https://eli.thegreenplace.net">Eli Bendersky</a>。
    </p>
{{end}}
